div {
  width: 100px;
  height: 100px;
  background-color: blue;
  animation-name: example;
  animation-duration: 5s;
  margin: 0px auto;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes example {
  0% {
    left: 0px;
    background-color: blue;
    top: 0px;
  }
  25% {
    left: 300px;
    top: 0px;
    background-color: red;
  }
  50% {
    left: 300px;
    top: 300px;
    background-color: yellow;
  }
  75% {
    left: 0px;
    top: 300px;
    background-color: green;
  }
  100% {
    left: 0px;
    top: 0px;
    background-color: purple;
  }
}
